.node--view-mode-teaser .node__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0em;
}
.node--view-mode-teaser .node__content {
  margin-top: -1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.node--view-mode-teaser .field--name-field-image,
.node--view-mode-teaser .field--name-field-image ~ * {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}
.node--view-mode-teaser .field--name-field-image,
.node--view-mode-teaser .field--name-field-image ~ * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.node--view-mode-teaser .field--name-field-image {
  width: 31.25% !important;
}
.node--view-mode-teaser .field--name-field-image ~ * {
  width: 68.75% !important;
}
.block-system-branding-block {
  border: none;
  margin: calc(2rem -  0.14285em ) 0em 1rem;
  padding: 0em 0em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.2857em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
}
.block-system-branding-block .site-logo img {
  display: inline-block;
  margin-top: 0.14285em;
  width: 2.5em;
  height: auto;
  vertical-align: middle;
}
.block-system-branding-block .site-name {
  display: inline-block;
  vertical-align: top;
}
.block-system-branding-block .site-name {
  padding-left: 0.75rem;
  vertical-align: middle;
}
.block-system-branding-block .site-name {
  font-size: 1.714rem;
}
.block-system-branding-block .site-slogan {
  font-size: 1.14285714rem;
}
.block-system-branding-block .site-logo img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}
a[data-drupal-link-system-path="user"]::before,
a[data-drupal-link-system-path="user/login"]::before,
a[data-drupal-link-system-path="user/logout"]::before,
.block-search .form-type-search:before {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}
a[data-drupal-link-system-path="user"]::before,
a[data-drupal-link-system-path="user/login"]::before,
a[data-drupal-link-system-path="user/logout"]::before,
.block-search .form-type-search:before {
  background: none !important;
}
a[data-drupal-link-system-path="user"]::before,
a[data-drupal-link-system-path="user/login"]::before,
a[data-drupal-link-system-path="user/logout"]::before,
.block-search .form-type-search:before {
  font-size: 1em;
}
.block-search .form-type-search:before {
  content: "\f002";
}
a[data-drupal-link-system-path="user/logout"]::before {
  content: "\f08b";
}
a[data-drupal-link-system-path="user/login"]::before {
  content: "\f090";
}
a[data-drupal-link-system-path="user"]::before {
  content: "\f007";
}
.field--name-field-tags .field__item a {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0em 0.14285714em;
  background-color: #E8E8E8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: bold;
  border: 0px solid transparent;
  border-radius: 0.28571429rem;
  transition: background 0.1s ease;
}
.field--name-field-tags .field__item a {
  margin-left: 1em;
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
  transition: none;
}
.field--name-field-tags .field__item a:before {
  position: absolute;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  top: 50%;
  right: 100%;
  content: '';
  background-color: inherit;
  background-image: none;
  width: 1.56em;
  height: 1.56em;
  transition: none;
}
.field--name-field-tags .field__item a:after {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.25em;
  margin-top: -0.25em;
  background-color: #FFFFFF !important;
  width: 0.5em;
  height: 0.5em;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 500rem;
}
.field--name-field-tags .field__item a {
  background-color: #00B5AD !important;
  border-color: #00B5AD !important;
  color: #FFFFFF !important;
}
.field--name-field-tags .field__item a {
  font-size: 0.85714286rem;
}
.block-search .form-type-search {
  position: relative;
  font-weight: normal;
  font-style: normal;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.87);
}
.block-search .form-type-search:before {
  cursor: default;
  position: absolute;
  line-height: 1;
  text-align: center;
  top: 0px;
  right: 0px;
  margin: 0em;
  height: 100%;
  width: 2.67142857em;
  opacity: 0.5;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
  transition: opacity 0.3s ease;
}
.block-search .form-type-search:before {
  pointer-events: none;
}
.block-search .form-type-search {
  font-size: 1em;
}
.view-taxonomy-term .views-row {
  display: flex;
  margin: 1em 0em;
  width: 100%;
  min-height: 0px;
  background: transparent;
  padding: 0em;
  border: none;
  border-radius: 0rem;
  box-shadow: none;
  transition: box-shadow 0.1s ease;
  z-index: '';
}
.view-taxonomy-term .view-content {
  margin: 1.5em 0em;
}
.node--view-mode-teaser .field--name-field-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.125rem;
  border: none;
}
.node--view-mode-teaser > h2 {
  display: inline-block;
  margin: -0.21425em 0em 0em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
}
.node--view-mode-teaser > h2 {
  font-size: 1.28571429em;
}
.node__meta {
  margin: 0.5em 0em 0.5em;
  font-size: 1em;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.6);
}
.node--view-mode-teaser > h2 a {
  color: '';
  transition: color 0.1s ease;
}
.node--view-mode-teaser > h2 a {
  color: rgba(0, 0, 0, 0.85);
}
.node--view-mode-teaser > h2 a:hover {
  color: #1e70bf;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .view-taxonomy-term .views-row {
    margin: 1em 0em;
  }
}
@media only screen and (max-width: 767px) {
  .view-taxonomy-term .views-row {
    flex-direction: column;
    margin: 2em 0em;
  }
  .node--view-mode-teaser .field--name-field-image img {
    max-width: 100% !important;
    width: auto !important;
    max-height: 250px !important;
  }
}
.view-taxonomy-term .views-row {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  margin: 0em;
  padding: 1em 0em;
}
.view-taxonomy-term .views-row:first-child {
  border-top: none;
  margin-top: 0em !important;
  padding-top: 0em !important;
}
.view-taxonomy-term .views-row {
  font-size: 1em;
}
.page-title {
  margin-top: 0;
}
.node--view-mode-teaser .field--name-field-image ~ * {
  margin-left: auto;
}
.node--view-mode-teaser .field--name-field-tags,
.node--view-mode-teaser .node__links {
  padding-top: 0;
  padding-bottom: 0;
}
.field--name-field-tags .field__label {
  display: none;
}
.field--name-field-tags .field__item {
  display: inline-block;
}
.node__links > ul li.is-active {
  margin-bottom: -2px;
}
.block-search > h2 {
  display: none;
}
.block-search .form-type-search {
  width: 100%;
}
.block-search .form-type-search:before {
  top: 50%;
  margin-top: -0.5em;
}
.block-search .form-actions {
  display: none;
}
