// out: ../base.css

/* Global */
@icon: 'icon';
@element: 'icon';
@type: 'element';
@import "../../semantic/src/theme.config";
@fontPath  : '../semantic/src/themes/default/assets/fonts';
@font-face {
  font-family: 'Icons';
  src: @fallbackSRC;
  src: @src;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

& { @import "../../semantic/src/definitions/globals/reset"; }
& { @import "../../semantic/src/definitions/globals/site"; }
& { @import (reference) "../../semantic/src/definitions/collections/form"; }
& { @import (reference) "../../semantic/src/definitions/elements/input"; }
& { @import (reference) "../../semantic/src/definitions/elements/button"; }


input[type="search"] {
  box-sizing: border-box;
}

form input:not([type]),
form input[type="text"],
form input[type="email"],
form input[type="search"],
form input[type="password"],
form input[type="date"],
form input[type="datetime-local"],
form input[type="tel"],
form input[type="time"],
form input[type="url"],
form input[type="number"],
form textarea {
  &:extend(.ui.form input[type="text"]);
}

form input:focus:not([type]),
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="search"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="datetime-local"]:focus,
form input[type="tel"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form input[type="number"]:focus {
  &:extend(.ui.form input[type="text"]:focus);
}

button,
input[type="submit"],
input[type="reset"] {
  &:extend(.ui.button);
}
