// out: ../layout.css

& { @import (reference) "../../semantic/src/definitions/elements/container"; }
& { @import (reference) "../../semantic/src/definitions/collections/grid"; }
& { @import (reference) "../../semantic/src/definitions/elements/image"; }
& { @import (reference) "../../semantic/src/definitions/elements/segment"; }


.region-header ,
.region-primary-menu ,
.region-secondary-menu ,
.region-breadcrumb,
.region-help,
.region-footer {
  &:extend(.ui.container);
}

main {
  &:extend(.ui.container);
  &:extend(.ui.grid);
  &:extend(.ui.grid.container);
  margin: 2.5em 0em 0em;
}

.layout-content ,
.layout-sidebar-first ,
.layout-sidebar-second {
  &:extend(.ui.grid > *);
  &:extend(.ui.grid > .column:not(.row));
  &:extend(.ui.stackable.grid > .column:not(.row));
}

.layout-content {
  flex-grow: 1;
}

.layout-sidebar-first {
  &:extend(.ui.column.grid > [class*="four wide"].column);
  order: -1;
}

.layout-sidebar-second {
  &:extend(.ui.column.grid > [class*="four wide"].column);
}

footer[role="contentinfo"] {
  &:extend(.ui.segment);
  &:extend(.ui.segment:last-child);
  &:extend(.ui.vertical.segment);
  &:extend(.ui.inverted.segment);
  &:extend(.ui.vertical.segment:last-child);
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
