// out: ../theme.css

& { @import (reference) "../../semantic/src/definitions/collections/grid"; }
& { @import (reference) "../../semantic/src/definitions/collections/menu"; }
& { @import (reference) "../../semantic/src/definitions/elements/header"; }
& { @import (reference) "../../semantic/src/definitions/elements/image"; }
& { @import (reference) "../../semantic/src/definitions/elements/icon"; }
& { @import (reference) "../../semantic/src/definitions/elements/label"; }
& { @import (reference) "../../semantic/src/definitions/elements/input"; }
& { @import (reference) "../../semantic/src/definitions/views/item"; }

.block-system-branding-block {
  &:extend(.ui.header);
  .site-logo img {
    &:extend(.ui.image);
    &:extend(.ui.header > img);
  }
  .site-name {
    &:extend(h2.ui.header);
    &:extend(.ui.header .content);
    &:extend(.ui.header > img + .content);
  }
  .site-slogan {
    &:extend(h2.ui.header .sub.header);
  }
}

a[data-drupal-link-system-path="user"]::before,
a[data-drupal-link-system-path="user/login"]::before,
a[data-drupal-link-system-path="user/logout"]::before {
  &:extend(i.icon);
  &:extend(i.icon:before);
}

a[data-drupal-link-system-path="user"]::before {
  &:extend(i.icon.user:before);
}
a[data-drupal-link-system-path="user/login"]::before {
  &:extend(i.icon.sign.in:before);
}
a[data-drupal-link-system-path="user/logout"]::before {
  &:extend(i.icon.sign.out:before);
}

.page-title {
  margin-top: 0;
}

.view-taxonomy-term {
  .view-content {
    &:extend(.ui.items);
  }
  .views-row {
    &:extend(.ui.items > .item);
    &:extend(.ui.divided.items > .item);
  }
  .views-row:first-child {
    &:extend(.ui.divided.items > .item:first-child);
  }
}

.node--view-mode-teaser {
  & > h2 {
    &:extend(.ui.items > .item > .content > .header);
    &:extend(.ui.items > .item > .content > .header:not(.ui));
    a {
      &:extend(.ui.items > .item > .content a:not(.ui));
      &:extend(.ui.items > .item > .content > a.header);
      &:hover {
        &:extend(.ui.items > .item > .content > a.header:hover);
      }
    }
  }
  .node__content{
    &:extend(.ui.grid);
  }
  .field--name-field-image {
    &:extend(.ui.grid > .column:not(.row));
    &:extend(.ui.column.grid > [class*="five wide"].column);
    &:extend(.ui.grid [class*="left floated"].column);
    img {
      &:extend(.ui.items > .item > .image > img);
    }
    & ~ * {
      &:extend(.ui.grid > .column:not(.row));
      &:extend(.ui.column.grid > [class*="eleven wide"].column);
      margin-left: auto;
    }
  }
  .field--name-field-tags,
  .node__links {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.node__meta {
  &:extend(.ui.items > .item .meta);
}

.field--name-field-tags {
  .field__label {
    display: none;
  }
  .field__item {
    display: inline-block;
    a {
      &:extend(.ui.label);
      &:extend(.ui.tag.label);
      &:extend(.ui.teal.label);
      &:before {
        &:extend(.ui.tag.label:before);
      }
      &:after {
        &:extend(.ui.tag.label:after);
      }
    }
  }
}

.node__links > ul {
  &:extend(.ui.text.menu);
  li {
    &:extend(.ui.menu);
    &:extend(.ui.menu .item);
    &:extend(.ui.menu:not(.vertical) .item);
    &:extend(.ui.text.menu .item);
    padding: 0;
    list-style: none;
    &.is-active {
      margin-bottom: -2px;
    }
    &.is-active a {
      &:extend(.ui.text.menu .active.item);
    }
  }
  a {
    &:extend(.ui.menu .item);
    &:extend(.ui.text.menu .item);
    &.is-active {
      &:extend(.ui.menu .active.item);
    }
  }
}

.block-search {
  & > h2 {
    display: none;
  }
  .form-type-search {
    &:extend(.ui.input);
    width: 100%;
    &:before {
      &:extend(i.icon);
      &:extend(i.icon:before);
      &:extend(i.icon.search:before);
      &:extend(.ui.icon.input > i.icon);
      &:extend(.ui.icon.input > i.icon:not(.link));
      top: 50%;
      margin-top: -0.5em;
    }
  }
  .form-actions {
    display: none;
  }
}
