.breadcrumb ol {
  line-height: 1;
  display: inline-block;
  margin: 0em 0em;
  vertical-align: middle;
}
.breadcrumb ol li:not(:first-child)::before {
  display: inline-block;
  opacity: 0.7;
  margin: 0em 0.21428571rem 0em;
  font-size: 0.92857143em;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}
.breadcrumb ol a {
  color: #4183C4;
}
.breadcrumb ol a {
  cursor: pointer;
}
.breadcrumb ol a {
  display: inline-block;
  margin: 0em;
  padding: 0em;
}
.breadcrumb ol {
  font-size: 1rem;
}
.breadcrumb ol {
  padding: 0;
}
.breadcrumb ol li {
  list-style: none;
  display: inline;
}
.breadcrumb ol li:not(:first-child)::before {
  content: "/";
}
