.region-primary-menu nav > ul,
.region-secondary-menu nav > ul,
.region-sidebar-first .block-menu > ul,
.region-sidebar-second .block-menu > ul {
  display: flex;
  margin: 1rem 0em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  font-weight: normal;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  min-height: 2.85714286em;
}
.region-primary-menu nav > ul li,
.region-secondary-menu nav > ul li,
.region-sidebar-first .block-menu > ul li,
.region-sidebar-second .block-menu > ul li {
  display: flex;
  align-items: center;
}
.region-primary-menu nav > ul li,
.region-secondary-menu nav > ul li,
.region-sidebar-first .block-menu > ul li,
.region-sidebar-second .block-menu > ul li,
.region-primary-menu nav > ul a,
.region-secondary-menu nav > ul a,
.region-sidebar-first .block-menu > ul a,
.region-sidebar-second .block-menu > ul a {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  user-select: none;
  background: none;
  padding: 0.92857143em 1.14285714em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}
.region-primary-menu nav > ul a.is-active,
.region-secondary-menu nav > ul a.is-active,
.region-sidebar-first .block-menu > ul a.is-active,
.region-sidebar-second .block-menu > ul a.is-active {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  font-weight: normal;
  box-shadow: none;
}
.region-sidebar-first .block-menu > ul,
.region-sidebar-second .block-menu > ul {
  display: block;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.region-sidebar-first .block-menu > ul li,
.region-sidebar-second .block-menu > ul li,
.region-sidebar-first .block-menu > ul a,
.region-sidebar-second .block-menu > ul a {
  display: block;
  background: none;
  border-top: none;
  border-right: none;
}
.region-sidebar-first .block-menu > ul li.is-active a,
.region-sidebar-second .block-menu > ul li.is-active a {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0em;
  box-shadow: none;
}
.region-secondary-menu nav > ul,
.region-sidebar-second .block-menu > ul {
  background: none;
  margin-left: -0.35714286em;
  margin-right: -0.35714286em;
  border-radius: 0em;
  border: none;
  box-shadow: none;
}
.region-secondary-menu nav > ul li,
.region-sidebar-second .block-menu > ul li,
.region-secondary-menu nav > ul a,
.region-sidebar-second .block-menu > ul a {
  align-self: center;
  box-shadow: none;
  border: none;
  padding: 0.71428571em 0.92857143em;
  margin: 0em 0.35714286em;
  background: none;
  transition: color 0.1s ease;
  border-radius: 0.28571429rem;
}
.region-secondary-menu nav > ul a.is-active,
.region-sidebar-second .block-menu > ul a.is-active {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  border-radius: 0.28571429rem;
}
.region-primary-menu nav > ul,
.region-secondary-menu nav > ul,
.region-sidebar-first .block-menu > ul,
.region-sidebar-second .block-menu > ul {
  font-size: 1rem;
}
.region-sidebar-first .block-menu > ul,
.region-sidebar-second .block-menu > ul {
  width: 15rem;
}
.region-primary-menu nav > ul,
.region-secondary-menu nav > ul,
.region-sidebar-first .block-menu > ul,
.region-sidebar-second .block-menu > ul {
  padding: 0;
}
.region-primary-menu nav > ul li,
.region-secondary-menu nav > ul li,
.region-sidebar-first .block-menu > ul li,
.region-sidebar-second .block-menu > ul li {
  padding: 0;
  list-style: none;
}
.region-sidebar-first .block-menu > ul li.is-active,
.region-sidebar-second .block-menu > ul li.is-active {
  margin-bottom: -2px;
}
