// out: ../../components/breadcrumb.css

& { @import (reference) "../../../semantic/src/definitions/collections/breadcrumb"; }

.breadcrumb ol {
  &:extend(.ui.breadcrumb);
  padding: 0;
  li {
    list-style: none;
    display: inline;
    &:not(:first-child)::before {
      content: "/";
      &:extend(.ui.breadcrumb .divider);
    }
  }
  a {
    &:extend(.ui.breadcrumb a);
    &:extend(.ui.breadcrumb .section);
    &:extend(.ui.breadcrumb a.section);
  }
}
