// out: ../../components/menu.css

& { @import (reference) "../../../semantic/src/definitions/collections/menu"; }

.region-primary-menu nav,
.region-secondary-menu nav,
.region-sidebar-first .block-menu,
.region-sidebar-second .block-menu {
  & > ul {
    &:extend(.ui.menu);
    padding: 0;
    li {
      &:extend(.ui.menu .item);
      &:extend(.ui.menu:not(.vertical) .item);
      padding: 0;
      list-style: none;
    }
    a {
      &:extend(.ui.menu .item);
      &.is-active {
        &:extend(.ui.menu .active.item);
      }
    }
  }
}

.region-secondary-menu nav > ul,
.region-sidebar-second .block-menu > ul {
  &:extend(.ui.secondary.menu);
  li {
    &:extend(.ui.secondary.menu .item);
  }
  a {
    &:extend(.ui.secondary.menu .item);
    &.is-active {
      &:extend(.ui.secondary.menu .active.item);
    }
  }
}

.region-sidebar-first .block-menu > ul,
.region-sidebar-second .block-menu > ul {
  &:extend(.ui.vertical.menu);
  li {
    &:extend(.ui.vertical.menu .item);
    &.is-active {
      margin-bottom: -2px;
    }
    &.is-active a {
      &:extend(.ui.vertical.menu .active.item);
    }
  }
  a {
    &:extend(.ui.vertical.menu .item);
  }
}
