// out: ../../components/tabs.css

& { @import (reference) "../../../semantic/src/definitions/collections/menu"; }

ul.tabs {
  &:extend(.ui.menu);
  &:extend(.ui.tabular.menu);
  padding: 0;
  li {
    &:extend(.ui.menu .item);
    &:extend(.ui.menu:not(.vertical) .item);
    &:extend(.ui.tabular.menu .item);
    padding: 0;
    list-style: none;
    &.is-active {
      margin-bottom: -2px;
    }
    &.is-active a {
      &:extend(.ui.tabular.menu .active.item);
    }
  }
  a {
    &:extend(.ui.menu .item);
    &:extend(.ui.tabular.menu .item);
    &.is-active {
      &:extend(.ui.menu .active.item);
    }
  }
}
